<h1>Server Responder</h1>

<p>
Server Responder, can handle requests from signed JS requests or from project clients. It then performs work for the clients and responds with results, hits a webhook with the results, or stores the results to a file for later retrieval. 
</p>
